<div class="new-cocktail-container">
  <div class="row" style="margin-right: 0px; margin-left: 0px;">
    <%= link_to root_path, style:'color:white;' do  %>
      <i class="fas fa-arrow-left p-4" style="font-size:20px"></i>
    <% end %>
  </div>
  <div class="row justify-content-around pt-5" style="margin-right: 0px; margin-left: 0px;">
    <div class="col-sm-2-md-3">
      <div class="text-center justify-content-center m-3 p-4">
        <h2>New Drink</h2>
      </div>
    </div>
  </div>
  <div class="container-form">
  <div class="row justify-content-around pt-5 pl-1 pr-1" style="padding-right: 0px; padding-left: 0px;">
      <div class="col-sm-2-md-3">
        <%= simple_form_for @cocktail do |f| %>
          <%= f.input :name %>
          <%= f.input :photo, as: :file %>
          <%= f.button :submit, class:"btn btn-dark" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

