<h2><%= @cocktail.name %></h2>

<% @cocktail.doses.each do |dose|%>
  <p> <%= dose.ingredient.name%> </p>
  <p> <%= dose.description%> </p>
   <%= link_to "Remove",
                  dose_path(dose),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
<% end %>




<%= link_to 'Back', cocktails_path  %>
<%= link_to "Add an instruction", new_cocktail_dose_path(@cocktail) %>

