<div class="show-container">

  <div class="row justify-content-between" style="margin-right: 0px; margin-left: 0px;">
    <%= link_to root_path, style:'color:white;' do  %>
      <i class="fas fa-arrow-left p-4" style="font-size:20px"></i>
    <% end %>
    <%= link_to cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="fas fa-trash-alt p-4" style="color:white;"></i>
    <% end %>
  </div>

  <div class="row justify-content-between pt-2" style="margin-right: 0px; margin-left: 0px;">
  <!-- <div class="d-flex justify-content-between"> -->
    <div class="col-lg-6 text-center justify-content-left pl-5" style="; color: white;">
      <div class="col-md-4 text-center justify-content-center" style="; color: white;">
        <div class="col-sm-3 text-center justify-content-center" style="padding-left: 0px; color: white;">
          <h2><%= @cocktail.name %></h2>
            <%= cl_image_tag  @cocktail.photo.key, width: 300, height: 250, crop: :scale, :style=>"background-size:cover; border-radius: 4px; border: 2px solid white;" %>
        </div>
      </div>
    </div>

    <div class="col-lg-6 justify-content-right pt-5" style="padding-right: : 70px; color: white;">
      <div class="col-md-4 justify-content-center pt-4" style="padding-right: : 50px; color: white;">
        <div class="col-sm-3 justify-content-center pt-3" style="padding-right: 0px; color: white;">
          <%= render "doses/new" %>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-6 text-center justify-content-right pt-4 pl-5" style=" color: black;">
    <div class="col-md-4 text-center justify-content-center" style="padding-right: : 50px; color: black;">
      <div class="col-sm-3 text-center justify-content-center" style="padding-right: 0px; color: black;">



        <%number = 0 %>
        <div class="card">
          <div class="card-body" style="height: auto; width: auto;">
            <h5 class="card-title">Recipe</h5>
              <% @cocktail.doses.each do |dose|%>
                <div class="d-flex justify-content-between">
                  <p class="card-text text-left"> <span style="font-weight: bold;"><%= number = number+1 %> - <%= dose.ingredient.name.capitalize %></span>, <span style="font-style: italic;"> <%= dose.description.capitalize  %> </span>;</p>

                  <%= link_to dose_path(dose), method: :delete, data: { confirm: 'Are you sure?'} do %>
                    <i class="fas fa-trash-alt" style="color:#272B30;"></i>
                  <% end %>

                </div>
              <% end %>
            </div>
        </div>


      </div>
    </div>
  </div>

</div>



